<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nata.xdroid">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--<uses-permission android:name="android.permission.INJECT_EVENTS"></uses-permission>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Blackbox dependency injection framework" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

        <activity
            android:name=".ui.SettinigsActivity"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".CrashReportReceiver">
            <intent-filter>
                <action android:name="com.nata.xdroid.action.REPORT_CRASH" />
            </intent-filter>
        </receiver>

        <receiver android:name=".UserDataReceiver">
            <intent-filter>
                <action android:name="com.nata.xdroid.action.LOG_DATA" />
            </intent-filter>
        </receiver>
        <receiver android:name=".StartTestReceiver">
            <intent-filter>
                <action android:name="com.nata.xdroid.action.START_TEST" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.StatisticsActivity"></activity>
    </application>

</manifest>